<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Best Quote Ever</h1>
          <p class="lead">Told by some random dude preaching in desert back in 23454BC</p>
       </div>
        <blockquote class="blockquote">
          <p class="mb-0">
              %include ('./partial/loremipsum45.html')
          </p>
          <footer class="blockquote-footer">The random dude in <cite title="Source Title">Michelle Adventures Vol. 666</cite></footer>
        </blockquote>
  </div>
</div>
</div>
